.rotator {
  transform: rotateX(180deg);
  transition-duration:1s;
}
.antirotator {
  transform: rotateY(180deg);
  transition-duration:1s;
}
.superscript { position: relative; top: -0.2em; font-size: 70%; }
