<!DOCTYPE html>
<html>
  <head>
    <script src="/login.js"></script>
    <title>Login</title>
  </head>
  <body>

    <div id="auth-window"><h3>User Authentication</h3>
        <div id="userid-window"><h4>User ID:</h4>
          <div class="ui-element"><input type="search" title="Enter user ID" id="user-id" /></div>
          <div id="password-window"><h4>Password:</h4>
            <div class="ui-element"><input type="password" title="Enter password" id="user-password" /></div>
        <div class="ui-element"><input type="button" id="login-button" value="Login &raquo;" /></div>
    </div>
  </body>
</html>
