<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://assets.annotateit.org/annotator/v1.2.5/annotator-full.min.js"></script>
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css">
    <script src="/test.js"></script>
    <script src="/categories.js"></script>
		<link href="/categories.css" rel="stylesheet">
    <br/>
    <h1>A Midsummer Night's Dream</h1>
    <h2>ACT I</h2>
    <h3>SCENE I. Athens. The palace of THESEUS.</h3>
    <p>Enter THESEUS, HIPPOLYTA, PHILOSTRATE, and Attendants<br/>
    THESEUS <br/>
    Now, fair Hippolyta, our nuptial hour<br/>
    Draws on apace; four happy days bring in<br/>
    Another moon: but, O, methinks, how slow<br/>
    This old moon wanes! she lingers my desires,<br/>
    Like to a step-dame or a dowager<br/>
    Long withering out a young man revenue.<br/>
    HIPPOLYTA<br/>
    Four days will quickly steep themselves in night;<br/>
    Four nights will quickly dream away the time;<br/>
    And then the moon, like to a silver bow<br/>
    New-bent in heaven, shall behold the night<br/>
    Of our solemnities.<br/>
    THESEUS<br/>
    Go, Philostrate,<br/>
    Stir up the Athenian youth to merriments;<br/>
    Awake the pert and nimble spirit of mirth;<br/>
    Turn melancholy forth to funerals;<br/>
    The pale companion is not for our pomp.<br/>
    Exit PHILOSTRATE<br/>
    <br/>
    Hippolyta, I woo'd thee with my sword,<br/>
    And won thy love, doing thee injuries;<br/>
    But I will wed thee in another key,<br/>
    With pomp, with triumph and with revelling.<br/>
    Enter EGEUS, HERMIA, LYSANDER, and DEMETRIUS<br/>
    <br/>
    EGEUS<br/>
    Happy be Theseus, our renowned duke!<br/>
    THESEUS<br/>
    Thanks, good Egeus: what's the news with thee?</p>
  </body>
</html>
