<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
    <script>
      jQuery(function ($) {
          var annotation = $(document.body).annotator();
      });
    </script>
  </body>
</html>
